<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <!-- Debug Log File -->
        <RollingFile name="DebugFile" fileName="${logging.file.path}/debug.log"
                     filePattern="${logging.file.path}/debug-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

        <!-- Info Log File -->
        <RollingFile name="InfoFile" fileName="${logging.file.path}/info.log"
                     filePattern="${logging.file.path}/info-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="WARN">
            <AppenderRef ref="Console" />
            <AppenderRef ref="DebugFile" level="DEBUG" />
            <AppenderRef ref="InfoFile" level="INFO" />
        </Root>
    </Loggers>
</Configuration>
