<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="LOG_HOME">logs</Property>
	</Properties>
	<Appenders> Console Appender
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
		</Console> Rolling File Appender for Debug Logs
		<RollingFile name="FileDebug"
			fileName="${LOG_PATH}/debug.log"
			filePattern="${LOG_PATH}/archived/debug.%d{yyyy-MM-dd}.%i.log">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
		</RollingFile> Rolling File Appender for Info Logs
		<RollingFile name="FileInfo"
			fileName="${LOG_PATH}/info.log"
			filePattern="${LOG_PATH}/archived/info.%d{yyyy-MM-dd}.%i.log">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
		</RollingFile> Rolling File Appender for Error Logs
		<RollingFile name="FileError"
			fileName="${LOG_PATH}/error.log"
			filePattern="${LOG_PATH}/archived/error.%d{yyyy-MM-dd}.%i.log">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers> Logger for Debug Level
		<Logger name="com.tms.mono"
			level="debug" additivity="false">
			<AppenderRef ref="FileDebug" />
			<AppenderRef ref="Console" />
		</Logger> Logger for Info Level
		<Logger name="com.tms.mono"
			level="info" additivity="false">
			<AppenderRef ref="FileInfo" />
			<AppenderRef ref="Console" />
		</Logger> Root Logger for Error Level
		<Root level="error">
			<AppenderRef ref="FileError" />
		</Root>
	</Loggers>
</Configuration>